body {
    background-color: #0A1128;
    color: #39FF14;

    h1 {
        color: #8A2BE2;
    }
    
    h2 {
        color: #FFD700;
    }
}

.project-list {
    color: #FF4500;
}

.web3 {
    color: #cf2db4;
}

.nav-heading {
    color: #47c5ff;
}

.testing {
    color: #c8ff00;
    font-weight: bold   ;
}

#copyrights {
    text-align: center;
}

a[href] {
    align: center;
}

h1:hover {
    color: #FF0000;
}

h1 + h2 {
    color: #00a2ff;
}